<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dang.crawler.resources.mysql.dao.JobCodeMapper" >
  <resultMap id="BaseResultMap" type="com.dang.crawler.resources.mysql.model.JobCode" >
    <id column="taskId" property="taskId"  />
    <result column="name" property="name"  />
    <result column="code" property="code"  />
    <result column="class" property="cls"   />
    <result column="date" property="date"  />
  </resultMap>
  <sql id="Base_Column_List" >
    taskId,name,code,date
  </sql>

  <insert id="insert"  parameterType="com.dang.crawler.resources.mysql.model.JobCode">
    INSERT INTO job_code (taskId , name , code ,class ,date) VALUES
                            (#{taskId},#{name},#{code},#{cls},now())
  </insert>
  <delete id="delete" parameterType = "com.dang.crawler.resources.mysql.model.JobCode">
    DELETE  FROM job_code WHERE 1>0
    <if test="taskId != null">AND taskId = #{taskId}</if>
    <if test="name != null">AND taskId = #{name}</if>
  </delete>
  <update id="update">
    UPDATE  job_code
    <set>
      <if test="taskId != null">taskId = #{taskId}</if>,
      <if test="name != null">name = #{name}</if>,
      <if test="code != null">code = #{code}</if>,
      <if test="class != null">class = #{cls}</if>,
    </set>
    WHERE  taskId = #{taskId} and name = #{name}
  </update>
  <select id="select" parameterType="com.dang.crawler.resources.mysql.model.JobCode" resultMap="BaseResultMap">
    select *  from job_code where 1>0
    <if test="taskId != null">AND taskId = #{taskId}</if>
    <if test="name != null">AND name = #{name}</if>
  </select>
  <select id="list" parameterType="com.dang.crawler.resources.mysql.model.JobCode" resultMap="BaseResultMap">
    select * from job_code;
  </select>
</mapper>