<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dang.crawler.resources.mysql.dao.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.dang.crawler.resources.mysql.model.Project" >
    <id column="projectId" property="projectId"  />
    <result column="name" property="name"  />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name
  </sql>
  <select id="selectById"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from project where projectId = #{projectId}
  </select>


</mapper>