<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{1} %X{ServiceId} - %m%n"/>
		</layout>
	</appender>


	<appender name="logic" class="org.apache.log4j.RollingFileAppender"><!--org.apache.log4j.DailyRollingFileAppender 按天-->
		<param name="File" value="/home/work/bin/crawler-conlony/log/logic.log"/>
		<param name="MaxFileSize" value="1GB"/>
		<param name="MaxBackupIndex" value="10"/><!--只保存10个 -->
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<param name="threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{1} %X{ServiceId} - %m%n"/>
		</layout>
	</appender>

	<!-- 根logger的设置 -->
	<root>
		<level value="info" />
		<appender-ref ref="logic" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>